<aside class="main-sidebar">
	<div class="main-sidebar__header">
		<div class="wrap">
			<a href="" class="logo">
				@@include('../assets/img/svg/logo-1ats.svg')
			</a>
			<button class="btn main-sidebar__hamburger">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
	<div class="main-sidebar__body">
		<div class="scrollbar-inner">
			<div class="main-sidebar__profile">
			<div class="profile-content">
				<figure class="photo">
					<img src="assets/img/profile1.png" alt="">
				</figure>
				<div class="txt">
					<div class="name">
						Oleg M
					</div>
					<div class="status">
						online
					</div>
				</div>
			</div>
			<div class="profile-links">
				<a href="#" class="notification-link base-notification" data-notification="12">
					<svg>
						<use xlink:href="#ring"></use>
					</svg>
				</a>
				<a href="#" class="mail-link base-notification" data-notification="7">
					<svg>
						<use xlink:href="#mail"></use>
					</svg>
				</a>
				</div>
			</div>
			<div class="main-sidebar__ats">
				<div class="title">Текущая АТС:</div>
				<ul class="ats_list">
					<li class="ats_item"><span class="name">1231212312_12312313123</span><a href="#" class="base-link">Изменить </a></li>
				</ul>
			</div>
			<nav class="main-sidebar__navigation">
				<div class="navigation-block">
					<div class="navigation-head">
						<div class="icon">
							<a href="#" class="navigation-head__link">
								<svg class="gear">
									<use xlink:href="#gear"></use>
								</svg>
							</a>
						</div>
						<button class="navigation-btn btn">
							<span>Настройка</span>
						</button>
					</div>
					<div class="navigation-list">
						<a href="#" class="navigation-link">Список АТС</a>
						<a href="#" class="navigation-link">Внешние номера</a>
						<a href="#" class="navigation-link">Коды регионов</a>
						<a href="#" class="navigation-link">Сервера</a>
					</div>
				</div>
				<div class="navigation-block">
					<div class="navigation-head">
						<div class="icon">
							<a href="#" class="navigation-head__link">
								<svg class="gear">
									<use xlink:href="#controls"></use>
								</svg>
							</a>
						</div>
						<button class="navigation-btn btn">
							<span>Конфигурация АТС</span>
						</button>
					</div>
					<div class="navigation-list">
						<a href="#" class="navigation-link">Список АТС</a>
						<a href="#" class="navigation-link">Внешние номера</a>
						<a href="#" class="navigation-link">Коды регионов</a>
						<a href="#" class="navigation-link">Сервера</a>
					</div>
				</div>
				<div class="navigation-block">
					<div class="navigation-head">
						<div class="icon">
							<a href="#" class="navigation-head__link">
								<svg class="gear">
									<use xlink:href="#folder"></use>
								</svg>
							</a>
						</div>
						<button class="navigation-btn btn">
							<span>Данные АТС</span>
						</button>
					</div>
					<div class="navigation-list">
						<a href="#" class="navigation-link">Список АТС</a>
						<a href="#" class="navigation-link">Внешние номера</a>
						<a href="#" class="navigation-link">Коды регионов</a>
						<a href="#" class="navigation-link">Сервера</a>
					</div>
				</div>
				<div class="navigation-block">
					<div class="navigation-head">
						<div class="icon">
							<a href="#" class="navigation-head__link">
								<svg class="gear">
									<use xlink:href="#users"></use>
								</svg>
							</a>
						</div>
						<button class="navigation-btn btn">
							<span>Пользователи</span>
						</button>
					</div>
					<div class="navigation-list">
						<a href="#" class="navigation-link">Список АТС</a>
						<a href="#" class="navigation-link">Внешние номера</a>
						<a href="#" class="navigation-link">Коды регионов</a>
						<a href="#" class="navigation-link">Сервера</a>
					</div>
				</div>
				<div class="navigation-block">
					<div class="navigation-head">
						<div class="icon">
							<a href="#" class="navigation-head__link">
								<svg class="gear">
									<use xlink:href="#shuffle"></use>
								</svg>
							</a>
						</div>
						<button class="navigation-btn btn">
							<span>Внешние системы</span>
						</button>
					</div>
					<div class="navigation-list">
						<a href="#" class="navigation-link">Список АТС</a>
						<a href="#" class="navigation-link">Внешние номера</a>
						<a href="#" class="navigation-link">Коды регионов</a>
						<a href="#" class="navigation-link">Сервера</a>
					</div>
				</div>
				<div class="row exit">
					<button class="exit-btn btn">
						<span class="icon">
							<svg>
								<use xlink:href="#exit"></use>
							</svg>
						</span>
						<span>Выйти</span>
					</button>
				</div>
			</nav>
		</div>
		
	</div>
	
</aside>