$time: .3s;
$two-time: .6s;
$three-time: .9s;
$five-time: 1.5s;
$x2time: .15s;
$x3time: .1s;


// colors
$basecolor: #f18a17;


$errorcolor: #f51d39;


// ---------------



$fbcolor:#3B5998;
$twcolor:#5EA9DD;
$pincolor:#bd0a38;
$vkcolor:#4B74A5;
$linkedincolor:#007BB6;
$gpcolor:#DA2713;
$pocketcolor: #d95968;
$okcolor: #fb8b31;
$ljcolor: #668eb3;
$tumblrcolor: #4d577e;
$googlecolor: #4285f4;
$githubcolor: #4078c0;
// $pincolor: #cd1630;
$rsscolor: #ff6600;
$telegramcolor: #0088cc;


$font:  font, helvetica, arial sans-serif;
$consolas:  consolas, helvetica, arial sans-serif;
$font-light:  font-l, helvetica, arial sans-serif;
$font-ex-light:  font-xl, helvetica, arial sans-serif;
$font-thin:  font-t, helvetica, arial sans-serif;
$font-bold:  font-b, helvetica, arial sans-serif;
$font-ex-bold:  font-xb, helvetica, arial sans-serif;

