.main-sidebar{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  // position: fixed;
  // top: 0;
  // left: 0;
  height: 100vh;
  background: #151515;
  width: 280px;
  flex-shrink: 0;
  // padding: 10px 20px 0;

  &__header{
    // display: flex;
    width: 100%;
    position: relative;
    height: 46px;
    margin-bottom: 10px;
    padding: 10px 20px 0;
    flex-shrink: 0;
    .wrap{
      position: relative;
    }
    // border-bottom: solid 1px rgba(#f8f8f8, 0.1);
    &:after{
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      bottom: -10px;
      position: absolute;
      background: rgba(#f8f8f8, 0.1);
    }
    .logo{
      transition: 0.35s ease;
      &:hover{
        svg{
          .st1{
            fill: rgba(#fff,0);
            stroke: #fff;
          }
        }
      }
      svg{
        width: 78px;
        height: 36px;
        .st1{
          fill: rgba(#fff,1);
          transition: 0.35s ease;
        }
      }
    }
  }

  &__body{
    width: 100%;
    height: calc(100% - 46px);
    // padding-bottom: 30px;
    .scroll-wrapper.scrollbar-inner{
      height: 100%;
    }
    .scroll-content.scrollbar-inner{
      padding: 0px 20px 0px!important;
    }
    .scrollbar-inner > .scroll-element .scroll-bar{
      background-color: rgba(#fff, 0.8)
    }
    .scrollbar-inner > .scroll-element .scroll-element_track{
      background-color: rgba(76, 76, 76, 0.8);
    }
    .scrollbar-inner > .scroll-element.scroll-y{
      right: 4px;
    }
  }

  &__hamburger{
    width: 24px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 9px;
    &:hover{
      span{
        background: #f18a17;
        &:nth-of-type(2){
          transform: translateX(-6px) scaleX(0.7);
        }
      }
    }
    &.minimize{
      &:hover{
        span{
          &:nth-of-type(2){
            transform: translateX(6px) scaleX(0.7);
          }
        }
      }
    }
    span{
      width: 100%;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 0;
      transition:0.35s ease;
      // transform-origin: 0 0;
      &:nth-of-type(1){top: 0;}
      &:nth-of-type(2){top: calc(50% - 1px);}
      &:nth-of-type(3){top: calc(100% - 1px);}
    }
  }

  &__profile{
    padding: 20px 0;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    &:after{
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      bottom: 0px;
      position: absolute;
      background: rgba(#f8f8f8, 0.1);
    }
    .profile-content{
      display: flex;
      align-items: flex-start;
      width: 100%;
      .photo{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
      .txt{
        padding-top: 6px;
        width: 100%;
        .name{
          font-size: 14px;
          color: #fff;
          margin-bottom: 4px;
          width: 100%;
          padding-right: 5%;
          // white-space: nowrap;
          // text-overflow: ellipsis;
          // overflow: hidden;
        }
        .status{
          font-size: 10px;
          color: #e1e1e1;
          opacity: 0.5;
        }
      }
    }
    .profile-links{
      flex-shrink: 0;
      display: flex;
      align-content: center;
      svg{
        fill: #fff;
        transition: 0.35s ease;
      }
      a:hover{
        svg{
          fill: #f18a17;
        }
      }
      .notification-link{
        margin-right: 20px;
        svg{
          width: 17px;
          height: 17px;
        }
      }
      .mail-link{
        svg{
          width: 20px;
          height: 15px;
        }
      }
    }
  }

  &__ats{
    padding: 20px 0;
    position: relative;
    width: 100%;
    &:after{
      content: "";
      width: calc(100% + 40px);
      height: 1px;
      left: -20px;
      bottom: 0px;
      position: absolute;
      background: rgba(#f8f8f8, 0.1);
    }
    .title{
      background: $basecolor;
      font-size: 12px;
      color: #151515;
      display: inline-block;
      padding: 3px 8px;
      border-radius: 3px;
    }
    .ats_list{
      margin-top: 8px;
    }
    .ats_item{
      .name{
        color: #fff;
        font-size: 14px;
        margin-right: 10px;
      }
      .base-link{
        font-size: 12px;
      }
    }
  }

  &__navigation{
    padding: 20px 0;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    .exit{
      margin-top: 50px;
      &-btn{
        transition: .353s ease;
        &:hover{
          span:not(.icon){
            // color: $basecolor;
            border-color: #da0000;
          }
        }
        span:not(.icon){
          display: inline-block;
          vertical-align: middle;
          font-size: 14px;
          color: #da0000;
          transition: .353s ease;
          border-bottom: solid 1px transparent;
        }
        .icon{
          display: inline-block;
          vertical-align: middle;
          width: 44px;
          text-align: left;
          svg{
            max-width: 22px;
            max-height: 22px;
            fill: #da0000;
            display: inline-block;
            vertical-align: middle;
          }
        }
        
      }
    }
    .navigation-block{
      margin-bottom: 20px;
    }
    .navigation-list{
      // padding-top: 18px;
      padding-left: 44px;
      display: none;
      overflow: hidden;
      .navigation-link:first-child{
        margin-top: 18px;
      }
    }
    .navigation-link{
      display: block;
      color: rgba(#fff,0.6);
      transition: 0.35s ease;
      margin-bottom: 18px;
      position: relative;
      &:before{
        content: "";
        width: 3px;
        height: 1px;
        background: rgba(#fff,0.6);
        display: inline-block;
        vertical-align: middle;
        margin-right: 6px;
        transition: 0.35s ease;
        transform-origin: 0 0;
      }
      &:hover{
        color: $basecolor;
        &:before{
          transform: scaleX(2);
          background: $basecolor;
          margin-right: 12px;
        }
      }
    }
    .navigation-head{
      display: flex;
    }
    .navigation-head__link{
      &:hover{
        svg{
          fill: $basecolor;
        }
      }
    }
    .icon{
      width: 44px;
      text-align: left;
      flex-shrink: 0;
      svg{
        max-width: 22px;
        max-height: 22px;
        fill: rgba(#fff, 0.6);
        display: inline-block;
        vertical-align: middle;
        transition: .35s ease;
        &.gear{
          max-width: 24px;
          max-height: 24px;
        }
        // margin-right: 20px;
      }
      }
      
    .navigation-btn{
      // margin-bottom: 18px;
      transition: .353s ease;
      &:hover{
        span{
          color: $basecolor;
        }
      }
      span{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #fff;
        transition: .353s ease;
      }
    }
  }
}

@media (min-width: 1000px) {
  .main-sidebar.minimize{
    max-width: 40px;
    // padding: 10px 8px 0;
    .main-sidebar__header{
      padding: 10px 8px 0;
    }
    // .main-sidebar__body,
    .main-sidebar__ats,
    .logo{
      display: none;
    }
    .main-sidebar__body .scroll-content.scrollbar-inner{
      padding: 10px 6px 0!important;
    }
    .main-sidebar__profile{
      .profile-content{
        display: none;
      }
      .profile-links{
        width: 100%;
        flex-wrap: wrap;
        padding:0 2px!important;
        .notification-link{
          margin-bottom: 16px;
        }
      }
    }
    .main-sidebar__navigation{
      .exit{
        span:not(.icon){
          display: none;
        }
      }
    }
  }
}

