.base-notification{
  position: relative;
  &:before{
    content: attr(data-notification);
    position: absolute;
    font-size: 10px;
    color: #151515;
    width: 15px;
    height: 15px;
    background: #f18a17;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    top: -7px;
    right: -7px;
  }
}


.base-link{
  color: $basecolor;
  transition: 0.35s ease;
  border-bottom: solid 1px transparent;
  line-height: 1;
  font-size: 14px;
  display: inline-block;
  &:hover{
    border-color: $basecolor;
  }
}


.base-dropdown{
  display: inline-flex;
  position: relative;
  z-index: 2;
  &:hover{
    .base-dropdown-link{
      span{
        color: $basecolor;
      }
      svg{
        fill: rgba($basecolor, .6);
      }
    }
    .base-dropdown-wrap{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &-link{
    display: flex;
    align-items: center;
    cursor: default;
    position: relative;
    padding-right: 20px;
    &:after{
      content: '';
      width: 4px;
      height: 7px;
      position: absolute;
      right: 2px;
      opacity: 0.6;
      background: url(../img/svg/icons/next.svg) no-repeat;
      background-size: 100%;
      transform: rotate(90deg);
    }
    span{
      font-size: 14px;
      transition: .35s ease;
    }
    &.w-icon{
      svg{
        max-width: 22px;
        max-height: 22px;
        fill: rgba(#000, .3);
        margin-right: 12px;
        transition: .35s ease;
      }
    }
  }
  &.right{
    .base-dropdown-wrap{
      right: 0;
    }
  }
  &-wrap{
    position: absolute;
    top: 100%;
    padding-top: 10px;
    width: 100%;
    min-width: 130px;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    transform: translateY(-5px);
  }
  &-list{
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    border: solid 1px #E5E5E5;
    background: #fff;
    box-shadow: 0 2px 10px rgba(#000, .1);
    &-item{
      display: block;
      margin-bottom: 8px;
      color: #151515;
      transition: .35s ease;
      &:last-of-type{
        margin-bottom: 0;
      }
      &:hover{
        color: $basecolor;
      }
    }
  }
}


.base-tooltip{
  position: relative;
  display: inline-block;
  &:hover{
    &:before,
    &:after{
      transform: translate(-50%, 0);
      opacity: 1;
      visibility: visible;
    }
  }
  &:before{
    content: "";
    // background: rgba(#000, 0.8);
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent rgba(#000, 0.8) transparent;
    width:0;
    height:0;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    transform: translate(-50%, 4px);
    z-index: 10;
  }
  &:after{
    content: attr(data-tooltip);
    color: #fff;
    padding: 6px 12px;
    background: rgba(#000, 0.8);
    border-radius: 3px;
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    min-width: 80px;
    display: block;
    width: max-content;
    max-width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: .35s ease;
    transform: translate(-50%, 4px);
    z-index: 10;
  }

  &.top{
    &:before{
      bottom: calc(100% + 4px);
      top: initial;
      border-width: 4px 4px 0 4px;
      border-color: rgba(#000, 0.8) transparent transparent transparent;
    }
    &:after{
      bottom: calc(100% + 8px);
      top: initial;
    }
  }
  &.left{
    &:before{
      top: 50%;
      left: initial;
      right: calc(100% + 4px);
      border-width: 4px 0 4px 4px;
      border-color: transparent transparent transparent rgba(#000, 0.8);
      transform: translate(-4px, -50%);
    }
    &:after{
      left: initial;
      right: calc(100% + 8px);
      top: 50%;
      transform: translate(-4px, -50%);
    }
     &:hover{
      &:before,
      &:after{
        transform: translate(0, -50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &.right{
    &:before{
      top: 50%;
      left: calc(100% + 4px);
      border-width: 4px 4px 4px 0;
      border-color: transparent rgba(#000, 0.8) transparent transparent;
      transform: translate(4px, -50%);
    }
    &:after{
      left: calc(100% + 8px);
      top: 50%;
      transform: translate(4px, -50%);
    }
     &:hover{
      &:before,
      &:after{
        transform: translate(0, -50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}



.btn.base-btn{
    font-size: 14px;
    color: #151515;
    background: #ffd802;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: $font-bold;
    transition: .35s ease;
    &:hover{
      background: #ffc202;
    }
    &[disabled],
    &.disabled{
      cursor: not-allowed;
      opacity: 0.55;
      background: #e6e6e6;
      & > *{
        cursor: not-allowed;
        pointer-events: none;
      }
    }
    &.small{
      padding: 5px 15px;
      font-size: 12px;
    }
    &.big{
      padding: 15px 35px;
      font-size: 16px;
    }
  &_outline{
    padding: 8px 22px;
    border-radius: 150px;
    border: solid 1px rgba(#999999, .3);
    color: #565555;
    font-size: 14px;
    text-align: center;
    transition: .35s ease;
    line-height: 1;
    display: inline-block;
    &.active,
    &:hover{
      color: $basecolor;
      border-color: $basecolor;
    }
    &.disabled{
      cursor: not-allowed;
      opacity: 0.55;
      // background: #e6e6e6;
      color: #7b7b7b;
      border-color: #e6e6e6;
      & > *{
        cursor: not-allowed;
        pointer-events: none;
      }
    }
    &.small{
      padding: 4px 6px;
      font-size: 11px;
    }
    &.big{
      padding: 12px 30px;
      font-size: 16px;
    }
  }
  
}

.base-btn-select{
  position: relative;
  &.active{
    .list-wrap{
      visibility: visible;
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .list{
    min-width: 290px;
    background: #faa62b;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 20px rgba(#000, 0.18);
  }
  .base-checkbox{
    margin-bottom: 14px;
    input[type="checkbox"]:checked + label .check{
      background: #fff;
      border-color: #fff;
      &:after{background: $basecolor;transform: rotateZ(135deg) scaleX(1);transition-delay: 0.05s;}
      &:before{background: $basecolor;transform: rotateZ(45deg) scaleX(1);transition-delay: 0s;}
    }
    .check{
      background: #fff;
      border-color: #fff;
      &:hover{
        background: #ffe3c5;
        border-color: #ffe3c5;
      }
    }
    span{
      color: #fff;
      font-size: 14px;
      font-family: $font-bold;
    }
  }
  .list-wrap{
    position: absolute;
    left: 0;
    padding-top: 10px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .35s ease;
  }
  &.right{
    .list-wrap{
      right: 0;
      left: initial;
    }
  }
}


.base-checkbox{
  // margin-top: 20px;
  position: relative;
  text-align: left;
  &.disabled{
    cursor: not-allowed;
    opacity: 0.55;
    & > *{
      cursor: not-allowed;
      pointer-events: none;
    }
    // pointer-events: none;
  }

  input[type="checkbox"]{
  // display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -10;
  -webkit-appearance: checkbox;
  }
  label{
  cursor: pointer;
  .check{
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: top;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border: solid 1px #e5e5e5;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 2px;
    background: #e5e5e5;
    &:hover{
      border-color: $basecolor;
    }
    &:before{
      content: '';
      height: 3px;
      width: 7px;
      display: block;
      transform: rotateZ(45deg) scaleX(0);
      top: 7px;
      left: 5px;
      position: absolute;
      background: $basecolor;
      transition: transform 0.1s;
      transition-delay: 0.1s;
      transform-origin: 0% 0%;
    }
      &:after{
      content: '';
      height: 3px;
      width: 10px;
      display: block;
      transform: rotateZ(135deg) scaleX(0);
      top: 9px;
      right: 12px;
      position: absolute;
      background: $basecolor;
      transition: transform 0.1s;
      transition-delay: 0s;
      transform-origin: 100% 100%;
      }
    }
    span{
      padding-top: 2px;
      font: 14px $font;
      color: #303335;
      line-height: 16px;
      padding-left: 30px;
      display: inline-block;
    }
    }
    input[type="checkbox"]:checked + label .check{
      background: $basecolor;
      border-color: $basecolor;
      &:after{background: #fff;transform: rotateZ(135deg) scaleX(1);transition-delay: 0.05s;}
      &:before{background: #fff;transform: rotateZ(45deg) scaleX(1);transition-delay: 0s;}
    }
}


.base-table{
  width: 100%;
  font-size: 14px;
  color: #151515;
  thead tr,
  th{
    background: rgba(#b2b2b2,.1);
    td{
      font-family: $font-bold;
      span{

      }
      .table-sorting__btn{
        display: inline-block;
        vertical-align: middle;
        margin-left: 6px;
        &.up{
          svg{
            .up{
              fill:#151515;
            }
          }
        }
        &.down{
          svg{
            .down{
              fill:#151515;
            }
          }
        }
        &:hover{
          svg{
            fill: #151515;
          }
        }
        svg{
          width: 12px;
          height: 15px;
          fill: #c6c6c6;
          transition: .35s ease;
        }
      }
    }
  }
  td{
    padding: 18px 0 18px 30px;
  }
  .base-checkbox{
    height: 20px;
  }
}

.input-block{
  max-width: 340px;
  width: 100%;
  margin-bottom: 20px;
  &.required{
    label{
      &:after{
        content: "*";
        color: $basecolor;
        font-family: initial;
      }
    }
  }
  &.white{
    label{
      color: #fff;
    }
  }
  &.disabled{
    cursor: not-allowed;
    opacity: 0.35;
    input{
      background: #e6e6e6;
    }
    & > *{
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &.invalid{
    label{
      color: $errorcolor;
    }
    input{
      border-color: $errorcolor;
    }
  }
  label{
    display: block;
    font-size: 13px;
    font-family: $font-bold;
    margin-bottom: 4px;
  }
  input{
    width: 100%;
    border-radius: 3px;
    border: solid 1px rgba(#000,0.12);
    background: #fff;
    font-size: 15px;
    padding: 6px 10px;
  }
}

.select-block{
  max-width: 340px;
  width: 100%;
  margin-bottom: 20px;
  &.required{
    label{
      &:after{
        content: "*";
        color: $basecolor;
        font-family: initial;
      }
    }
  }
  label{
    display: block;
    font-size: 13px;
    font-family: $font-bold;
    margin-bottom: 4px;
  }
  .select{
    width: 100%;
    &.select-filter dt{
      padding: 4px 10px;
    }
  }
}


.base-tab{
  &__header{
    // font-size: 15px;
    // color: #fff;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: solid 1px #eeeeee3d;
    padding-bottom: 20px;
    .btn{
      font-size: 14px;
      color: #fff;
      margin: 0 10px;
      font-family: $font-bold;
      border-bottom: solid 2px transparent;
      transition: 0.35s ease;
      &.active{
        color: $basecolor;
        border-color: $basecolor;
        // font-family: $font-bold;
      }
    }
  }
  &__block{
    display: none;
    &.active{
      display: block;
    }
  }
}












// =-==-=-=-=-=-=-=-=-=-
// UI PAGE
.ui-page{
  max-width: 800px;
  margin: auto;
  padding-top: 80px;
  .title{
    font-size: 18px;
    font-family: $font-bold;
    color: #151515s;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: solid 1px #eee;
  }
  .ui-row{
    margin-bottom: 80px;
    .tt{
      font-size: 17px;
      opacity: 0.8;
      margin-bottom: 15px;
    }
  }
  .ui-block{
    margin-bottom: 15px;
  }
  .btn{
    margin-right: 15px;
    vertical-align: bottom;
  }
  .base-tooltip{
    margin-right: 45px;
  }
  .base-dropdown{
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
  }
  .base-checkbox{
    display: inline-block;
    margin-right: 35px;
  }
}




.base-pagination{
  display: flex;
  align-items: center;
  .page-count{
    margin-right: 50px;
    span{
      color: #191a1d;
      font-size: 12px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }
    .select{
      width: 50px;
      display: inline-block;
      vertical-align: middle;
      &.select-filter dt{
        padding: 0px 8px;
        &:before{
          right: 10px;
        }
      }
      dt input{
        font-size: 13px;
      }
      dd .select-options{
        padding-right: 2px!important;
      }
      &.select-filter dd .select-options a{
        font-size: 13px;
        padding-left: 8px;
        &:before{
          display: none;
        }
      }
    }
  }
  .page-btns{
    .btn{
      font-size: 13px;
      transition: .35s ease;
      &:hover{
        color: #ffd802;
      }
    }
    .num{
      padding: 4px 6px;
      border-radius: 3px;
      margin-right: 10px;
      &.active{
        background: #ffd802;
        color: #151515!important;
      }
    }
    .prev{
      margin-right: 30px;
    }
    .next{
      margin-left: 20px;
    }
  }
}


